<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jacky Bot</title>
</head>

<body>
    <section>
        <h1>Welcome !</h1>
        <p>Jacky bot is started and listening</p>

        <h2>Invite link</h2>
        <p>Click
            <a href="https://discordapp.com/oauth2/authorize?client_id=290458055869595648&scope=bot&permissions=3337216">here</a> to invite Jacky to your guild</p>
    </section>
    <footer>
        Jacky was made with love with
        <a href="https://discord.js.org">Discord.js</a>
    </footer>
</body>

</html>